# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/

# Segredos
.env
*.pem
credentials.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/